<nav class="container-navbar" (click)="verifySizeScreen()">
  <section class="container-icons">
    <div class="menu-hamburguer">
      <span class="material-icons" (click)="showMenuMobile()">
        menu
      </span>
    </div>

    <div class="profile">
      <span class="material-icons">
        account_circle
      </span>
    </div>
  </section>

  <ul class="menu-list" #menuList>
    <li><a href="">Linkedin</a></li>
    <li><a href="">Github</a></li>
    <li><a href="">Youtube</a></li>
  </ul>
</nav>