.container-navbar {
  padding: 1rem 1.25rem;
}

.container-icons {
  display: flex;
  flex-direction: row;
}

.container-navbar div:has(span) {
  color: var(--beige);
}

.menu-hamburguer {
  width: 50%;
}

.profile {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.menu-list {
  display: none;
  flex-direction: column;
}

.menu-list>li {
  list-style-type: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--beige);
}

.menu-list>li>a {
  color: var(--beige);
  text-decoration: none;
  font-size: 1.125rem;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  :is(.profile, .material-icons) {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-navbar {
    display: flex;
  }


  .menu-hamburguer {
    cursor: pointer;
    display: none;
  }

  .profile {
    padding-right: 2rem;
    align-items: center;
    justify-content: flex-start;
  }

  .material-icons {
    font-size: 3rem;
  }

  .menu-list {
    display: inline-flex;
    flex-direction: row;
  }

  .menu-list li {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-bottom: none;
  }

  .menu-list>li>a {
    font-size: 1.250rem;
  }

  .menu-list>li>a:hover {
    color: var(--orange);
    font-weight: bold;
    text-decoration: underline;
  }

  .menu-list>li>a:hover {
    color: var(--orange);
    font-weight: bold;
    text-decoration: underline;
  }

  .menu-list>li>a:active {
    color: var(--medium-gray);
  }
}