<div class="article-main">

  <div class="article-photo">
    <picture>
      <source media="(min-width: 1024px)" srcset="/assets/the-mandalorian-moff-gideon-1280.jpg">
      <source srcset="/assets/the-mandalorian-moff-gideon-640.jpg">
      <img src="/assets/the-mandalorian-moff-gideon-640.jpg" alt="Moff Gideon">
    </picture>
  </div>

  <div class="article-date">
    <span> {{articleDate}}</span>
  </div>

  <div class="article-name">
    <h3>
      Moff Gideon escapa da nova república
    </h3>
  </div>

  <article class="article-news">
    <p>
      Segundo informações Gideon contou com a ajuda de mercenários mandalorianos para escapar. Será? Ou é alguma jogada
      do vilão?
    </p>
  </article>
</div>