<div class="article-main">

  <div class="article-photo">
    <picture>
      <source media="(min-width: 1024px)" srcset="{{ articlePhotoDesktop }}">
      <source srcset="{{ articlePhotoMobile }}">
      <img src="{{ articlePhotoDefault}}" alt="Moff Gideon">
    </picture>
  </div>

  <div class="article-date">
    <span> {{articleDate}}</span>
  </div>

  <div class="article-name">
    <h3>
      {{ articleName }}
    </h3>
  </div>

  <article class="article-news">
    <p>
      {{ articleNews }}
    </p>
  </article>
</div>