.container-articles {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .container-articles {
    flex-flow: row;
    align-items: flex-start;
  }
}